<h1>******** Now your result ********</h1>

<p>Time: <%= @result[:time]  %></p>
<p>Score: <%= @result[:score]  %></p>
<p>Message: <%= @result[:message]  %></p>

<%= link_to 'Play again', game_path  %>

